body {
	margin: 0;
	margin-top: .5cm;
	background-color: #faf9f8
}

.logo {
    height: 30px; 
    width: auto;  
}

@media (max-width: 768px) {
    .logo {
        height: 12px; 
        width: auto; 
    }
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow: hidden;
	font-family: 'Unna', serif
}

.navbar a {
	float: left;
	font-size: 18px;
	color: #635a56;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: lowercase
}

.navbar a:hover {
	font-style: italic
}

.dropdown {
	float: left;
	overflow: hidden
}

.dropdown .dropbtn {
	font-size: 18px;
	border: none;
	outline: 0;
	color: #635a56;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	text-transform: lowercase
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1
}

.dropdown-content a {
	float: none;
	color: #635a56;
	padding: 7px 16px;
	text-decoration: none;
	display: block;
	text-align: left
}

@media (max-width: 768px) {
    .navbar a {
        font-size: 16px; 
    }
}

@media (max-width: 768px) {
	.dropdown .dropbtn {
		font-size: 16px; 
	}
}

.dropdown:hover .dropdown-content {
	display: block
}

.selectedWorks {
	margin-top: 100px;
	margin-left: 3vw;
	margin-right: 3vw
}

.listContainer .styled-list-item:hover h3 {
	color: #24292e;
	transition: color .5s
}

.type-big {
	font-size: 6vw;
	font-family: 'Unna', 'serif';
}

@media (min-width:800px) {
	.type-big {
		font-size: 4vw
	}
}

@media (min-width:800px) {
	.type-big {
		font-size: 40px
	}
}

.hoverItem .hoverItem-show {
	display: none
}

@media (min-width:800px) {
	@media (hover:hover) {
		.hoverItem:active .hoverItem-show,
		.hoverItem:focus .hoverItem-show,
		.hoverItem:hover .hoverItem-show {
			display: block;
			right: 150px;
			height: 300px;
			width: auto;
			top: 50%;
			transform: translateY(-50%)
		}
	}
}

.pa {
	position: absolute
}

.right {
	right: 0
}

.z2 {
	z-index: 200
}

.db {
	display: block
}

.pr {
	position: relative
}

.type-serif {
	font-weight: 400
}

.shape-circle {
	display: inline-block;
	width: 5%;
	height: 0;
	padding-bottom: 5%;
	border-radius: 50%;
	margin: 0 1%
}

@media (min-width:800px) {
	.shape-circle {
		width: 4%;
		padding-bottom: 4%
	}
}

@media (min-width:800px) {
	.imgList {
		width: 30vw
	}
}

.border-top {
	border-top: 1px solid #d9d9d9
}

a {
	text-decoration: none;
	color: inherit
}

ul {
	list-style-type: none;
	padding: 0
}

a {
	color: #2e2e2e;
	text-decoration: none
}

a:hover {
	color: #91624b;
	text-decoration: none
}

#footer {
	position: relative;
	overflow: hidden
}

#footerMarqueeSVG {
	display: inline-flex;
	transform: translateX(-100%)
}

#footerMarqueeSVG .footerWrapSVG {
	display: unset;
	width: 47px;
	height: 34px
}

#footerMarquee1 {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	width: 100%
}

#footerMarqueeInside {
	display: flex;
	width: 100%;
	-webkit-animation: ticker 55s linear infinite;
	animation: ticker 55s linear infinite
}

@-webkit-keyframes ticker {
	0% {
		transform: translateX(-10%)
	}
	to {
		transform: translateX(155%)
	}
}

@keyframes ticker {
	0% {
		transform: translateX(-10%)
	}
	to {
		transform: translateX(155%)
	}
}

  
#footerContactTxt {
    display: grid;
    height: 6rem;
    width: 100%;
    text-align: center
  }
  
  #footerContactTxt p {
    margin: auto;
  }
  
  .footerPlaceholder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: text;
  }
  
  .footerPlaceholder span {
    max-width: 85%
  }
  
  #footerContactWrap {
    font-family: Unna, serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: grid;
    height: 3rem;
    width: 100%;
    border-top: 1px solid #CDA08C;
    border-bottom: 1px solid #a29e87;
    transition: background .3s
  }
  
  #footer-subscribe-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
  }
  
  #footer-subscribe-cta span:first-child {
    margin: 0 1rem 0 0
  }
  
  #footerCopyright {
    display: grid;
    height: 3rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #CDA08C;
    font-size: 1rem
  }
  
  #footerCopyright p {
    font-family: Unna, serif;
    font-style: italic;
    margin: auto
  }
  
  #footerCopyright a {
    display: inline;
    text-decoration: underline
  }
  
  #footerCopyright a:hover {
    color: #91624b
  }
  
  @media (max-width:1000px) {
    #footerCopyright {
      font-size: 10px
    }
  }
  
  #footerSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%
  }
  
  #footerSVG .footerSVGWrap {
    height: 29px;
    width: 29px
  }
  
  #footerSVG path,
  #footerSVG svg {
    fill: #222
  }
  
  #footerNavbar1 {
    border-bottom: 1px solid #a29e87;
    display: flex;
    width: 100%;
    align-items: center
  }
  
  #footerNavbar1 ul {
    display: flex;
    flex-direction: column;
    height: 5rem;
    padding: 0 1rem 0 4rem
  }
  
  #footerNavbar1 ._f-l {
    width: 40%
  }
  
  .footerNavbar2 {
    display: flex
  }
  
  ._footer_link:hover {
    color: #91624b
  }
  
  @media (max-width:1000px) {
    #footerContactTxt {
      height: 100px
    }
    #footerNavbar1 {
      padding: 0
    }
    #footerNavbar1 ul {
      height: 100%;
      width: 100%;
      padding: 1rem
    }
  }
  
  #footerContactTxt {
    font-family: Unna, serif;
  }
  
  .footerLink{
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 1.9;
    font-family: Unna, serif
  }
  
  @media (min-width:800px) {
    #flexFooter {
      display: flex;
      border-top: 1px solid #91624b
    }
    #flexFooter>* {
      width: 50%
    }
    #footerContactTxt {
      font-size: 25px
    }
    #footerContact {
      border-right: 1px solid #91624b
    }
  }
  
  @media (max-width:1000px) {
    #footerContact {
      border-top: 1px solid #91624b
    }
    #footerContactTxt {
      font-size: 25px
    }
    #footerNavbar1 ._f-l,
    #footerNavbar1 .footerNavbar2 {
      width: 50%;
      height: 8rem
    }
    .footerNavbar2 {
      flex-direction: column;
      border-left: 1px solid #91624b
    }
    #footerCopyright {
      height: 32px
    }
  }
  
  #footerContactTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  ._ul {
    list-style-type: none
  }
  
  .footerLinka {
    color: #635a56;
    text-decoration: none
  }