body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(150deg, #e664, #9198e5);
  background-size: 200% 200%;
  animation: gradientShift 60s ease infinite;
}

/* Animate the background gradient position */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
